.searchForm {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  margin: 24px auto;
}

.searchInput {
  flex: 1;
  margin-right: 12px;
  padding: 12px;
  font-size: 1em;
  border: 1px solid dimgrey;
}

.searchButton {
  width: 100%;
  background-color: dimgrey;
  color: white;
  padding: 12px 24px;
  font-size: 1em;
  border: 1px solid dimgrey;
}

.searchButton:active {
  background-color: steelblue;
}
.searchButton:hover {
  background-color: grey;
}
